*{
margin:0;
}
body{
background-color:white;
}
.wrapper{
width: 1020px;
height: 1170px;
background-color: #515151 url(images/bg.gif);
padding:center;
margin-top:0px;
margin-left:auto;
margin-right:auto;
border-radius:0px 0px 25px 25px;
overwrite:hidden;
position:relative;
}
.wrapper:hover{
background-image: linear-gradient(to bottom, rgb(34, 34, 34));
border-radius:5px none;
box-shadow: 0px 12px 12px rgba(0, 0, 0 ,0.99);
}
.header{
margin-top:0px;
height:40px;
background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
border-radius:5px none;
box-shadow: 0px 2px 10px rgba(0, 0, 0 ,0.99);
padding:10px;
}
#menu {
	width:auto;
	height:40px;
	margin-top: -40px;
	padding-left:400px;
}
#menu ul {
	float: center;
	margin: 0px;
	padding: 0px;
	list-style:none ;
}
#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}
#menu ul li a {
	position: relative;
	float: left;
	margin-left:60px;
	width: 80px;
	display: block;
	height:10px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: red;	
	padding-top:8px;
	font-weight: bold;
	outline: none;
}
#menu li a:hover {
	color: white;
}
a{
	text-decoration: none;
	color: white;
}

.left_div{
	float: left;
	width: 150px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left:150px;
	border-right: 1px solid white;
	}
.centre_div{
	float: left;
	margin-left: 0px;
	width: 600px;
	padding-top: 0px;
	padding-left: 0px;
	margin-top: 15px;
	border-right: 1px solid white;
	overflow:headen;
}
.centre_div_body{
margin-top:600px;
height:100px;
width:100px;
background-color:red;

}
.centre_body{
height:500px;
width:500px;
margin-top:70px;
overflow:hidden;
}
/* footer */
#footer_wrapper {
	width:auto;
	clear: both;
	float: left;
	background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
	border-radius:5px none;
	box-shadow: 0px 2px 10px rgba(0, 0, 0 ,0.99);
	padding:10px;
}
#footer {
	width:1020px;
	margin: 0 auto;
	padding:0px;
	text-align: center;
	color: #1c1411;
}


#footer li  a:hover {
	color: red;
}

#footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #333333;
}
#footer.footer_menu li a:hover{
color:red;
}

.footer_menu .last_menu {
	border: none;
}
